##################################
# Maven build output
##################################
target/*
!target/allure-results/
!target/allure-results/**

##################################
# IntelliJ IDEA
##################################
.idea/
*.iml
*.iws
*.ipr

##################################
# Allure CLI
##################################
.allure/

##################################
# Logs
##################################
*.log

##################################
# OS files
##################################
.DS_Store
Thumbs.db
Desktop.ini

##################################
# Temp files
##################################
*.tmp
*.bak
*~
